<div align="left">2:--<button (click)="multip()">multip</button>
</div>
<!---<table class="table table-bordered width" width="50">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>position</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empinfo of empinfo">
            <td>{{empinfo.id}}</td>
            <td>{{empinfo.name}}</td>
            <td>{{empinfo.age}}</td>
            <td>{{empinfo.position}}</td>
        </tr>
    </tbody>
</table>-->
3:--<button (click)="fun()">Details</button>